{% extends "base.html" %} 

{% block css %}
<!--
<link href="{{ url_for('static', filename='css/trade/trade.css') }}" rel="stylesheet">
-->
{% endblock css %}

{% block content %}
<div class='container'>  
  <a href="{{ url_for('widget') }}" class="btn btn-primary">Trading Chart</a>
  <br/>
  <br/>
    <table align="center">
        <tr>
          <td>  
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="EURUSD", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="EURUSD") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="EURGBP", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="EURGBP") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="EURJPY", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="EURJPY") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="EURCHF", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="EURCHF") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="EURAUD", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="EURAUD") }}
            </form>
          </td>
        </tr>
        <tr>
          <td>  
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="EURCAD", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="EURCAD") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="USDJPY", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="USDJPY") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="USDCAD", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="USDCAD") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="USDCHF", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="USDCHF") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="GBPUSD", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="GBPUSD") }}
            </form>
          </td>
        </tr>
        <tr>
          <td>  
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="GBPJPY", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="GBPJPY") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="GBPCAD", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="GBPCAD") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="CADCHF", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="CADCHF") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="CHFJPY", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="CHFJPY") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="AUDUSD", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="AUDUSD") }}
            </form>
          </td>
        </tr>
        <tr>
          <td>  
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="AUDCAD", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="AUDCAD") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="AUDJPY", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="AUDJPY") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="AUDCHF", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="AUDCHF") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="NZDJPY", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="NZDJPY") }}
            </form>
          </td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ form.ticker(value="EURJPY", hidden=True) }}
              {{ form.submit(class="btn btn-secondary", value="NaN") }}
            </form>
          </td>
        </tr>
    </table>

  {% if ticker %}
  <br/>
  <h2 class="fs-2 text-body-secondary"><strong>{{ ticker }}</strong></h2>
  <h5>{{ time_stamp[:19] + ' UTC' }}</h5>
  Download Recommendation: <a href={{ url_for('download')}}>txt</a> | <a href='#'>csv</a><br/> | <a href='#'>pdf</a><br/><br/>
  <table class="table table-secondary table-striped-columns">
    <thead>
      <tr>
        <th scope="col">Interval</td>
        <th scope="col">Recommendation</td>
        <th scope="col">BUY indicators</td>
        <th scope="col">SELL indicators</td>
        <th scope="col">Neutral Indicators</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1 minute</th>
        <td>{{ analysis['1m']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['1m']['BUY'] }}</td>
        <td>{{ analysis['1m']['SELL'] }}</td>
        <td>{{ analysis['1m']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">5 minute</th>
        <td>{{ analysis['5m']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['5m']['BUY'] }}</td>
        <td>{{ analysis['5m']['SELL'] }}</td>
        <td>{{ analysis['5m']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">15 minute</th>
        <td>{{ analysis['15m']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['15m']['BUY'] }}</td>
        <td>{{ analysis['15m']['SELL'] }}</td>
        <td>{{ analysis['15m']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">30 minute</th>
        <td>{{ analysis['30m']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['30m']['BUY'] }}</td>
        <td>{{ analysis['30m']['SELL'] }}</td>
        <td>{{ analysis['30m']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">1 hour</th>
        <td>{{ analysis['1h']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['1h']['BUY'] }}</td>
        <td>{{ analysis['1h']['SELL'] }}</td>
        <td>{{ analysis['1h']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">2 hours</th>
        <td>{{ analysis['2h']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['2h']['BUY'] }}</td>
        <td>{{ analysis['2h']['SELL'] }}</td>
        <td>{{ analysis['2h']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">4 hours</th>
        <td>{{ analysis['4h']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['4h']['BUY'] }}</td>
        <td>{{ analysis['4h']['SELL'] }}</td>
        <td>{{ analysis['4h']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">1 day</th>
        <td>{{ analysis['1d']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['1d']['BUY'] }}</td>
        <td>{{ analysis['1d']['SELL'] }}</td>
        <td>{{ analysis['1d']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">1 week</th>
        <td>{{ analysis['1W']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['1W']['BUY'] }}</td>
        <td>{{ analysis['1W']['SELL'] }}</td>
        <td>{{ analysis['1W']['NEUTRAL'] }}</td>
      </tr>
      <tr>
        <th scope="row">1 month</th>
        <td>{{ analysis['1M']['RECOMMENDATION'] }}</td>
        <td>{{ analysis['1M']['BUY'] }}</td>
        <td>{{ analysis['1M']['SELL'] }}</td>
        <td>{{ analysis['1M']['NEUTRAL'] }}</td>
      </tr>
    </tbody>
  </table>
  
  {% endif %}
  
</div>
<br/>
{% endblock %}