{% extends "base.html" %} 

{% block content %}
    <div class="container-fluid" style="height:800px;">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container" style="height:100%;width:90%">
            <div id="tradingview_ba8bc" style="height:calc(100% - 100px);width:100%"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            
            <script type="text/javascript">
            new TradingView.widget(
            {
            "autosize": true,
            "symbol": "OANDA:EURUSD",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "en",
            "enable_publishing": false,
            "withdateranges": true,
            "hide_side_toolbar": false,
            "allow_symbol_change": true,
            "studies": [
            "STD;Bollinger_Bands",
            "STD;SMA",
            "STD;Stochastic"
            ],
            "container_id": "tradingview_ba8bc"
            }
            );
            </script>
            
        </div>
        <!-- TradingView Widget END -->
    </div>
{% endblock %}


