h1 {
    color: darkblue;
    font-size: 60px;
}

body {
    background: #c2ebdd;
}

#demo {
    font-size: 18px;
    color: rgb(146, 52, 52);
}


/* nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}  */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #43658b;
    color: white;
    text-align: center;
}