{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
    {% endfor %}

    {% if user_exists %}
        <h3>User already exists in database</h3>
    {% elif name %}
        <h1>Hello {{ name|title }}</h1>        
    {% else %}
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2>Add User</h2>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br/>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
        </div>
    {% endif %}

    {% if user_exists or name %}
        <br/>
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <td>ID</td><td>Name</td><td>Email</td><td>Date added</td>
            </thead>
            <tbody>
        {% for user in user_list %}
            <tr>
                <td>{{ user.id }}</td><td>{{ user.name }}</td><td>{{ user.email }}</td><td>{{ user.date_added }}</td>
            </tr> 
        {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    
    <br/>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <td>ID</td><td>Name</td><td>Email</td><td>Date added</td>
        </thead>
        <tbody>
    {% for item in items_on_page %}
        <tr>
            <td>{{ item.id }}</td><td>{{ item.name }}</td><td>{{ item.email }}</td><td>{{ item.date_added }}</td>
        </tr> 
    {% endfor %}
        </tbody>
    </table>
    {% if page > 1 %}
        <a href="{{ url_for('add_user', page=page-1) }}"><< Previous</a> |
    {% endif %}
    <span> Page {{ page }} of {{ total_pages }}</span>
    {% if page < total_pages %}
        | <a href="{{ url_for('add_user', page=page+1) }}">Next >></a>
    {% endif %}

{% endblock %}