{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>        
    {% endfor %}

    {% if name %}
        <h1>Hello {{ name|title }}</h1>
        <br/>
        <img src="{{ url_for('static', filename='images/IMG-2023.jpg') }}" width=500>
        <br/><br/>
        <p id='demo'>this is stuff before javascript</p>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% else %}
        <h1>What is your name?</h1>
        <br/>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br/>
            {{ form.email(class="form-control", value="default@example.com", hidden=True) }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
    {% endif %}
    <p id='demo'>this is stuff before javascript</p>

{% endblock %}